*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
#minefield{
    margin: auto;
    padding: auto;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 5px ridge grey;
    width: 40%;
}
.row{
    display: flex;
    justify-content: flex-start;
    box-sizing: content-box;
    width: 100%;
}
.column1{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dotted black;
    height: 50px;
    width: 50px;
}
i{
    align-items: center;
}